<div class="product-tabs__inner l-section">
  <div class="product-tabs__nav" role="tablist" data-list="tabs">
    <button class="product-tabs__tab product-tabs__tab--active" type="button" data-action="tab-switch" data-item-id="featured" data-field="label">Featured</button>
  </div>
  <div class="product-tabs__panel" data-list="products">
    <article class="product-tabs__card" data-item-id="sku_001">
      <h3 class="product-tabs__name" data-field="name">Sample Product</h3>
      <p class="product-tabs__price product-tabs__price--sale" data-field="price">$24.00</p>
    </article>
  </div>
</div>
