.twork-why-choose-section-editor {
	.twork-why-choose__tagline span[contenteditable="true"],
	.twork-why-choose__title[contenteditable="true"] {
		&:focus {
			outline: 1px dashed #2271b1;
			outline-offset: 2px;
		}
	}

	.twork-why-choose__stage-editor {
		> .block-editor-inner-blocks {
			display: contents;

			> .block-editor-block-list__layout {
				display: contents;

				> .wp-block,
				> [data-type="twork/benefit-point"] {
					display: block;
				}
			}
		}
	}

	.twork-why-choose__point {
		.twork-why-choose__point-text[contenteditable="true"] {
			&:focus {
				outline: 1px dashed #2271b1;
				outline-offset: 2px;
			}
		}
	}
}
