.twork-page-header-section-editor {
	overflow: visible !important;

	.twork-page-header__breadcrumb {
		flex-wrap: wrap;
		row-gap: 0.35rem;
	}

	.twork-page-header__graphic,
	.twork-page-header__graphic--placeholder {
		pointer-events: auto !important;
		cursor: pointer;
		z-index: 10;
	}
}
