.editor-styles-wrapper .wp-block-twork-info-section,
.editor-styles-wrapper .twork-about-section-editor {
	/* Fix focus outlines */
	.twork-about__label span[contenteditable="true"],
	.twork-about__title[contenteditable="true"] {
		&:focus {
			outline: 1px dashed #2271b1;
			outline-offset: 2px;
		}
	}

	.twork-about-section__inner-blocks {
		display: flex !important;
		flex-direction: column !important;
		gap: 34px !important;
	}

	.twork-about-features-grid-editor {
		display: grid !important;
		grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
		gap: 2rem !important;

		> .wp-block,
		.block-editor-block-list__layout > .wp-block {
			min-width: 0 !important;
			word-break: break-word;
		}
	}

	.twork-about-images-grid-editor {
		display: grid !important;
		grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
		gap: 2rem !important;

		> .wp-block,
		.block-editor-block-list__layout > .wp-block {
			min-width: 0 !important;
		}
	}
}

@media (max-width: 1040px) {
	.editor-styles-wrapper
		.twork-about-section-editor
		.twork-about-features-grid-editor {
		grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
	}
}
