<footer class="wp-block-twork-brand-footer footer" id="footer" data-block="twork/brand-footer" data-version="1">
<div class="l-section">
<div class="footer__info-grid" data-list="infoCards">{{FOOTER_INFO_CARDS}}</div>
<div class="footer__main">
<div class="footer__about">
<p class="footer__brand">{{attr:brandPrefix}} <span class="footer__brand-suffix">{{attr:brandSuffix}}</span></p>
<p class="footer__desc">{{attr:description}}</p>
</div>
<div class="footer__columns" data-list="columns">{{FOOTER_COLUMNS}}</div>
</div>
<p class="footer__copyright">{{attr:copyright}}</p>
</div>
</footer>
