<article class="wp-block-twork-news-card blog-news__card" data-block="twork/news-card" data-item-id="{{attr:itemId}}">
<a class="blog-news__media" href="{{attr:href}}">
<img src="{{attr:imageUrl}}" alt="{{attr:imageAlt}}" width="380" height="240" loading="lazy" decoding="async" />
</a>
<p class="blog-news__meta">By <span class="blog-news__author">{{attr:author}}</span> in <strong>{{attr:category}}</strong> on <time datetime="{{attr:dateIso}}">{{attr:date}}</time></p>
<h3 class="blog-news__title"><a href="{{attr:href}}">{{attr:title}}</a></h3>
<p class="blog-news__excerpt">{{attr:excerpt}}</p>
</article>
