.wp-block-twork-partners-item {
	flex: 0 0 auto;
	min-width: 0;
}

.wp-block-twork-partners-item .twork-partners__item {
	display: inline-flex;
	align-items: center;
	gap: 1rem;
}

.wp-block-twork-partners-item .twork-partners__item-media {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
}
